<!-- Tricks -->
<h1><%= __('Tricks') %></h1>

<table class="pure-table">
<thead>
    <tr>
    <% _.each([ i18n("trick") ], function(th) { %>
        <th><%= th %></th>
    <% }); %>
    </tr>
</thead>
<tbody>
    <% _.each(tricks, function(trick) { %>
    <tr>
        <td><%= trick.name %></td>
    </tr>
    <% }); %>
</tbody>
</table>
