<!-- users -->
<h1><%= __('Users') %></h1>

<table class="pure-table">
<thead>
    <tr>
    <% _.each(["username", "email"], function(th) { %>
        <th><%= th %></th>
    <% }); %>
    </tr>
</thead>
<tbody>
    <% _.each(users, function(user) { %>
    <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
    </tr>
    <% }); %>
</tbody>
</table>
