<ul class="nav actionNav pure-g">
<% _.each(navItems, function(ni) { %>
    <li class="pure-u-1-<%= navItems.length %>">
        <a class="pure-button ni" href="<%- ni.href %>">
            <%= i18n(ni.name) %>
        </a>
    </li>
<% }); %>
</ul>
