<!DOCTYPE html>
<html>
<head>
    <title>ttSails</title>

    <%
        // Stylesheets and Preprocessors
        // ==============================

        // You can always bring in CSS files manually with `<link>` tags, or asynchronously
        // using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        // of Sails' conventional asset pipeline (boilerplate Gruntfile).

        // By default, stylesheets from your `assets/styles` folder are included
        // here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        // are supported. In production, your styles will be minified and concatenated into
        // a single file.

        // To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        // For example, here are a few things you could do:

        //     + Change the order of your CSS files
        //     + Import stylesheets from other directories
        //     + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    %>

    <link rel="stylesheet" href="/styles/lib/pure/0.6.0/pure.css">
    <link rel="stylesheet" href="/styles/importer.css">

</head>
<body>
